RAPIDAPI_KEY=
RAPIDAPI_HOST=
SOFASCORE_RAPIDAPI_HOST=sofascore.p.rapidapi.com
FOTMOB_RAPIDAPI_HOST=fotmob-api.p.rapidapi.com
FREE_LIVE_FOOTBALL_RAPIDAPI_HOST=free-api-live-football-data.p.rapidapi.com
FOOTBALLSERVICE_RAPIDAPI_HOST=footballservice1.p.rapidapi.com
TWITTER_FREE_API_RAPIDAPI_HOST=twittr-x-api-free-tweets-user-twitter-lookup.p.rapidapi.com
TWITTER_API_RAPIDAPI_HOST=twitter-api45.p.rapidapi.com
SOFASCORE_RATE_LIMIT_MS=350
FREE_LIVE_FOOTBALL_RATE_LIMIT_MS=900
FOOTBALLSERVICE_RATE_LIMIT_MS=500
TWITTER_FREE_API_RATE_LIMIT_MS=1200
TWITTER_API_RATE_LIMIT_MS=900

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
